
.services {
    position: relative;
    background: url('./assets/images/house.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-bottom: 50px;
    overflow: hidden;
    cursor: default;

    .main-list {
        list-style-type: none;
        padding: 0;
        margin: 6.8em 0 0;
        color: #fff;
        display: flex;
        justify-content: center;
        .main-list-item {
            margin: 0 5em;
            
        }
    }

    .secondary-list {
        font-size: 1.5em;
        line-height: 2em;
        margin: 0;
        padding: 0;
        color: $white;
        list-style-type: disc;
    }
}

.package {
    padding: 1em 4em;
    border-radius: 20px;
    border: 4px solid $gray;
    p {
        margin-top: -5px;
        font-size: 3em;
        text-align: center;
        color: #fff;
        font-family: 'Squada One', cursive;
    }
}

.package-yellow {
    background: rgb(250,250,250);
    background: linear-gradient(270deg, rgba(180, 179, 179, 0.5) 0%, rgba(251,213,74,0.5) 53%);
}

.package-pink {
    background: rgb(225,99,105);
    background: linear-gradient(270deg, rgba(225,99,105,0.5) 47%, rgba(180,179,179,0.5) 100%);
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@import '../ServiceItem/ServiceItem';