
.services {
    position: relative;
    background: url('./assets/images/house.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-bottom: 50px;
    overflow: hidden;
    cursor: default;

    .main-list {
        list-style-type: none;
        padding: 0;
        margin: 6.8em 0 0;
        color: #fff;
        display: flex;
        justify-content: center;
        .main-list-item {
            margin: 0 3em;
            
        }
    }

    .secondary-list {
        font-size: 1.5em;
        line-height: 2em;
        margin: 0;
        padding: 0;
        color: $white;
        list-style-type: disc;
    }
}

.package {
    padding: 1em 4em;
    border-radius: 20px;
    border: 4px solid $gray;
    p {
        margin-top: -5px;
        font-size: 3em;
        text-align: center;
        color: #fff;
        font-family: 'Squada One', cursive;
    }

    div {
        text-align: center;
    }
}

.package-yellow {
    background: rgb(250,250,250);
    background: linear-gradient(270deg, rgba(180, 179, 179, 0.5) 0%, rgba(251,213,74,0.5) 53%);
}

.package-pink {
    background: rgb(225,99,105);
    background: linear-gradient(270deg, rgba(225,99,105,0.5) 47%, rgba(180,179,179,0.5) 100%);
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.yellow-btn {
    $btn_main_color: $white;
    $btn_sec_color: $yellow;
    background-color: $yellow;
    display: inline-block;
    padding: 0.5em 2em;
    margin-top: -1em;
    margin-left: 1em;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    border-radius: 250px;
    color: #000;
    cursor: pointer;
    border: 2px solid $btn_main_color;
    transition: 0.2s;

    &:hover { 
        transition: 0.2s;
        transform: scale(1.05,1.05);
        box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    }

    &:active { 
        background-image: linear-gradient($btn_main_color, $btn_main_color);
        transition: none;
        color: #000;
    }
}

.pink-btn {
    $btn_main_color: $white;
    $btn_sec_color: $white;
    background-color: $pink;
    display: inline-block;
    padding: 0.5em 2em;
    margin-top: -1em;
    margin-left: 1em;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    border-radius: 250px;
    color: #000;
    cursor: pointer;
    border: 2px solid $btn_main_color;
    transition: 0.2s;

    &:hover { 
        transition: 0.2s;
        transform: scale(1.05,1.05);
        box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    }

    &:active { 
        background-image: linear-gradient($btn_main_color, $btn_main_color);
        transition: none;
        color: #000;
    }
}


@media only screen and (max-width: 1100px) {
    .services {
        .main-list {
            margin: 6.8em 0 0;
            .main-list-item {
                margin: 0 2em;
            }
        }
    }
}

@media only screen and (max-width: 945px) {
    .services {
        .main-list {
            margin: 6.8em 0 0;
            .main-list-item {
                margin: 0 0.8em;
            }
        }
    }
}


@media only screen and (max-width: 873px) {
    .services {
        background-image: none;
        height: 140vh;
        .main-list {
           display: block;
           margin: 1em 0 0;
           .main-list-item {
            margin: 0 0.8em 1em;
        }
        }
    }

    .dark-overlay {
        background-color: rgba(0, 0, 0, 0);
    }
}

@media only screen and (max-width: 480px) {
    .services {
        height: 150vh;
    }
}