.info {
    text-align: center;
    margin-top: 3em; 
    margin-bottom: 5em; 

    ul {
        list-style-type: none;
        display: flex;
        margin: 0 -60px;
        padding: 0;

        li {
            padding: 0 1em;
        }
    }
}

@import '../InfoItem/InfoItem';

@media only screen and (max-width: 1050px) {
    .info {
        ul {
            display: inline-block;
            margin: 0;
            li {
                padding: 0.8em 1em;
            }
        }
    }
}