.footer-container {
    width: 100%;
    background: $yellow;
    color: #fff;
    padding: 3em 0;
    border-top-right-radius: 40px;
    transform: skewY(2deg);
    margin-top: 7em;

    .container {
        transform: skewY(-2deg);
        text-align: center;
        color: #000;

        img {
            width: 40px;
            height: 40px;
        }
    }

    &:before {
        content: '';
        width: 40px;
        height: 40px;
        background: $yellow;
        position: absolute;
        top: -39px;
        z-index: -2;
    }

    &:after {
        content: '';
        width: 80px;
        height: 80px;
        background: $gray;
        position: absolute;
        top: -80px;
        border-radius: 50%;
        z-index: -1;
    }

    
 }

 .bottom-footer {
    background: $yellow;
    width: 100%;
    height: 4.1em;
    margin-top: -3%;
}

.social-media {
    img {
        margin: 2em 2em 0;
        cursor: pointer;
    }
}

@media only screen and (max-width: 600px) {
    .social-media {
        img {
            margin: 1em 1em 0;
        }
    }
}