@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC|Squada+One&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #24272e;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background: #dad8d8;
  border-radius: 5px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4em;
  padding-top: 2em;
  font-family: 'Squada One', cursive;
}

nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  z-index: 20;
}

nav ul li {
  margin-left: 2em;
}

nav ul a {
  text-decoration: none;
  color: black;
}

nav img {
  width: 22px;
  height: 22px;
  margin-right: 5px;
}

nav .hover-border::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #e16369;
  -webkit-transition: width .3s;
  transition: width .3s;
}

nav .hover-border:hover::after {
  width: 100%;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.logo {
  cursor: default;
  font-size: 1.5em;
}

.hide-in-desktop {
  display: none;
}

.mobile-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mobile-contents .burger {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  outline: none;
}

.mobile-contents .mobile-links-content {
  background: #24272e;
  width: 175px;
  height: 150px;
  display: inline-block;
  margin-right: 20px;
}

.mobile-contents .mobile-links-content::before {
  content: '';
  position: absolute;
  background-color: #24272e;
  width: 20px;
  height: 20px;
  top: 50px;
  right: 84px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.mobile-contents .mobile-links-content ul {
  color: #fbd54a;
  display: inline-block;
  text-align: center;
}

.mobile-contents .mobile-links-content ul li {
  margin-top: 10px;
}

.mobile-contents .mobile-links-content ul li a {
  color: #e16369;
}

.mobile-contents .mobile-links-content .hover-border-mobile::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #fbd54a;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.mobile-contents .mobile-links-content .hover-border-mobile:hover::after {
  width: 100%;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

@media only screen and (max-width: 770px) {
  .hide-in-mobile {
    display: none;
  }
  .hide-in-desktop {
    display: inline-block;
  }
}

@media only screen and (max-width: 630px) {
  .logo {
    font-size: 1.2em;
  }
  .logo img {
    width: 18px;
    height: 18px;
  }
  .mobile-contents .mobile-links-content::before {
    right: 77px;
  }
}

@media only screen and (max-width: 500px) {
  .mobile-contents .mobile-links-content::before {
    right: 69px;
  }
}

@media only screen and (max-width: 435px) {
  .logo {
    font-size: 1.2em;
  }
  .logo img {
    width: 13px;
    height: 13px;
  }
  .mobile-contents .burger {
    width: 20px;
    height: 20px;
  }
  .mobile-contents .mobile-links-content {
    width: 141px;
    height: 121px;
    display: inline-block;
    margin-right: 20px;
  }
  .mobile-contents .mobile-links-content ul li {
    margin-top: 5px;
    font-size: 0.9em;
  }
  .mobile-contents .mobile-links-content::before {
    width: 15px;
    height: 15px;
    right: 59px;
  }
}

@media only screen and (max-width: 355px) {
  .logo {
    font-size: 1em;
  }
  .logo img {
    width: 13px;
    height: 13px;
  }
  .mobile-contents .mobile-links-content {
    width: 116px;
    height: 118px;
    display: inline-block;
    margin-right: 20px;
  }
  .mobile-contents .mobile-links-content ul li {
    margin-top: 5px;
    font-size: 0.9em;
  }
  .mobile-contents .mobile-links-content::before {
    width: 15px;
    height: 15px;
    right: 59px;
  }
}

.intro {
  background: url("./assets/images/yellow-background-waves.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.intro section {
  position: relative;
  z-index: 20;
  text-align: center;
  padding-bottom: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2em 1em 7em;
}

.intro section img {
  width: 35%;
}

.intro section span {
  color: #e16369;
  font-size: 0.8em;
  text-shadow: none;
}

.intro section p {
  font-size: 3.2em;
  text-shadow: 0 0 7px #e16369;
  font-family: 'Bowlby One SC', cursive;
}

.main-btn {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e16369), to(#fbd54a));
  background-image: linear-gradient(#e16369, #fbd54a);
  display: inline-block;
  padding: 0.5em 2em;
  margin-top: -1em;
  margin-left: 1em;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  border-radius: 250px;
  color: #000;
  cursor: pointer;
  border: 2px solid #e16369;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main-btn:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}

.main-btn:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e16369), to(#e16369));
  background-image: linear-gradient(#e16369, #e16369);
  -webkit-transition: none;
  transition: none;
  color: #000;
}

.problem-solving-svg {
  -webkit-animation: hovering 1s infinite alternate;
          animation: hovering 1s infinite alternate;
}

@-webkit-keyframes hovering {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes hovering {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

.blob {
  position: absolute;
  top: -157px;
  right: 266px;
  width: 700px;
  z-index: 5;
}

@media only screen and (max-width: 900px) {
  .intro section span {
    font-size: 0.8em;
  }
  .intro section p {
    font-size: 2.5em;
  }
  .main-btn {
    padding: 0.5em 2em;
    margin-top: -1em;
    margin-left: 1em;
    font-size: 18px;
  }
}

@media only screen and (max-width: 710px) {
  .problem-solving-svg {
    display: none;
  }
  .intro section span {
    font-size: 0.8em;
  }
  .intro section p {
    font-size: 2.7em;
  }
  .main-btn {
    padding: 0.5em 1.5em;
    margin-top: -1em;
    margin-left: 0.5em;
    font-size: 16px;
  }
}

@media only screen and (max-width: 470px) {
  .intro section p {
    font-size: 1.8em;
  }
  .main-btn {
    font-size: 15px;
    display: inline-block;
    margin-top: 10px;
  }
}

.info {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 5em;
}

.info ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -60px;
  padding: 0;
}

.info ul li {
  padding: 0 1em;
}

.info-item .icon-holder {
  background-color: #fbd54a;
  padding: 1em 1.1em;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: inline-block;
}

.info-item .icon-holder img {
  width: 45px;
  height: 45px;
}

.info-item h6 {
  font-size: 1em;
  margin-top: 10px;
  color: #dad8d8;
}

.info-item p {
  line-height: 1.5em;
  margin-top: -25px;
  color: #dad8d8;
}

@media only screen and (max-width: 1050px) {
  .info ul {
    display: inline-block;
    margin: 0;
  }
  .info ul li {
    padding: 0.8em 1em;
  }
}

.services {
  position: relative;
  background: url("./assets/images/meeting_room.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-bottom: 50px;
  cursor: default;
}

.services .main-list {
  list-style-type: none;
  padding: 0;
  margin: 6.8em 0 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .main-list .main-list-item {
  margin: 0 3em;
}

.services .secondary-list {
  font-size: 1.5em;
  line-height: 2em;
  margin: 0;
  padding: 0;
  color: #dad8d8;
  list-style-type: disc;
}

.package {
  width: 350px;
  padding: 10px 40px;
  border-radius: 20px;
}

.package p {
  margin: 10px 0 10px 0;
  font-size: 3em;
  text-align: center;
  color: #fff;
  font-family: 'Squada One', cursive;
}

.package div {
  text-align: center;
}

.package-yellow {
  background: #fafafa;
  background: -webkit-gradient(linear, right top, left top, from(rgba(180, 179, 179, 0.5)), color-stop(53%, rgba(251, 213, 74, 0.5)));
  background: linear-gradient(270deg, rgba(180, 179, 179, 0.5) 0%, rgba(251, 213, 74, 0.5) 53%);
}

.package-pink {
  background: #e16369;
  background: -webkit-gradient(linear, right top, left top, color-stop(47%, rgba(225, 99, 105, 0.5)), to(rgba(180, 179, 179, 0.5)));
  background: linear-gradient(270deg, rgba(225, 99, 105, 0.5) 47%, rgba(180, 179, 179, 0.5) 100%);
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.yellow-btn {
  background-color: #fbd54a;
  display: inline-block;
  padding: 0.5em 2em;
  margin-top: 30px;
  margin-left: 1em;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  border-radius: 250px;
  color: #000;
  cursor: pointer;
  border: 2px solid #dad8d8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.yellow-btn:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: #e0be41;
}

.yellow-btn:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dad8d8), to(#dad8d8));
  background-image: linear-gradient(#dad8d8, #dad8d8);
  -webkit-transition: none;
  transition: none;
  color: #000;
}

.pink-btn {
  background-color: #e16369;
  display: inline-block;
  padding: 0.5em 2em;
  margin-top: 30px;
  margin-left: 1em;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  border-radius: 250px;
  color: #000;
  cursor: pointer;
  border: 2px solid #dad8d8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.pink-btn:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: #cf5e64;
}

.pink-btn:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dad8d8), to(#dad8d8));
  background-image: linear-gradient(#dad8d8, #dad8d8);
  -webkit-transition: none;
  transition: none;
  color: #000;
}

@media only screen and (max-width: 1100px) {
  .services .main-list {
    margin: 6.8em 0 0;
  }
  .services .main-list .main-list-item {
    margin: 0 2em;
  }
}

@media only screen and (max-width: 945px) {
  .services .main-list {
    margin: 6.8em 0 0;
  }
  .services .main-list .main-list-item {
    margin: 0 0.8em;
  }
}

@media only screen and (max-width: 873px) {
  .services {
    background-image: none;
    height: 950px;
  }
  .services .main-list {
    display: block;
    margin: 1em 0 0;
  }
  .services .main-list .main-list-item {
    margin: 0 0.8em 1em;
  }
  .package {
    margin: 0 auto;
  }
  .dark-overlay {
    background-color: rgba(0, 0, 0, 0);
    position: relative;
  }
}

@media only screen and (max-width: 460px) {
  .services {
    height: 1000px;
  }
  .package {
    width: 70%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 340px) {
  .services {
    height: 1100px;
  }
}

.testimonials-title {
  text-align: center;
  font-size: 40px;
  color: #fbd54a;
  text-shadow: 0 0 7px #e16369;
}

.testimonials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  text-align: center;
  margin-top: 60px;
}

.testimonials img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #fbd54a;
}

.test-section {
  border: 2px solid #fbd54a;
  background: none;
  width: 300px;
  margin: 0 auto;
  padding: 15px 0px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  cursor: pointer;
  margin: 10px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.test-section:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #fbd54a;
  z-index: -1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.test-section {
  color: #fbd54a;
}

.test-section:hover {
  color: #000;
}

.test-section:hover:before {
  height: 180%;
}

.test-section:before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

@media only screen and (max-width: 1200px) {
  .testimonials {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 10px;
    margin: 0;
  }
  .testimonials .testimonials-holder {
    margin-top: 40px;
  }
  .test-section {
    width: 300px;
    margin: 20px auto;
  }
}

@media only screen and (max-width: 843px) {
  .testimonials-title {
    font-size: 30px;
  }
  .testimonials {
    display: block;
    margin: 0;
  }
  .testimonials .testimonials-holder {
    margin-top: 40px;
  }
}

.footer-container {
  width: 100%;
  background: #fbd54a;
  color: #fff;
  padding: 3em 0;
  border-top-right-radius: 40px;
  -webkit-transform: skewY(2deg);
          transform: skewY(2deg);
  margin-top: 7em;
}

.footer-container .container {
  -webkit-transform: skewY(-2deg);
          transform: skewY(-2deg);
  text-align: center;
  color: #000;
}

.footer-container .container img {
  width: 40px;
  height: 40px;
}

.footer-container:before {
  content: '';
  width: 40px;
  height: 40px;
  background: #fbd54a;
  position: absolute;
  top: -39px;
  z-index: -2;
}

.footer-container:after {
  content: '';
  width: 80px;
  height: 80px;
  background: #24272e;
  position: absolute;
  top: -80px;
  border-radius: 50%;
  z-index: -1;
}

.bottom-footer {
  background: #fbd54a;
  width: 100%;
  height: 4.1em;
  margin-top: -3%;
}

.social-media img {
  margin: 2em 2em 0;
  cursor: pointer;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.social-media img:hover {
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

@media only screen and (max-width: 600px) {
  .social-media img {
    margin: 1em 0.5em 0;
  }
}
/*# sourceMappingURL=index.css.map */